.nav {
	grid-area: nav;
	background-color: rgba(17, 54, 17, 0.89);
}

.item {
	color: white;
	border-bottom: 1px solid white;

	a {
		display: block;
		padding: 15px 5px;
		color: inherit;
		text-decoration: none;

		&:hover {
			color: darken(white, 20%);
		}

		&.active_link {
			background-color: darken(rgb(17, 54, 17), 3%);
		}
	}

}