*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app-wrapper {
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;

	display: grid;

	grid-template-areas:
		'header header'
		'nav content';

	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	/* grid-gap: 10px; */
}

.app-wrapper-content {
	grid-area: content;
	background-color: rgba(192, 192, 245, 0.863);
}
